<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>抽奖</title>

    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
    <div id="hd">
        <div>一等奖</div>
        <div>二等奖</div>
        <div>三等奖</div>
        <div>四等奖</div>
        <div>五等奖</div>
        <div>六等奖</div>
        <div>七等奖</div>
        <div>八等奖</div>
        <div>九等奖</div>
        <span id="box">点击抽奖</span>
    </div>
    <script src="../public/js/index.js"></script>
</body>
</html>